{% extends 'base.html.twig' %}

{% block title %}
  Invoice
{% endblock %}

{% block body %}
  <h1>Invoice</h1>

  <table class="table">
    <tbody>
      <tr>
        <th>Id</th>
        <td>Facture n°{{ invoice.id }}</td>
      </tr>
      <tr>
        <th>Complètement payée</th>
        <td>{{ invoice.paid ? 'Oui' : 'Non' }}</td>
      </tr>
      <tr>
        <th>Montant payé</th>
        <td>{{ invoice.paidAmount|readnb('€') }}</td>
      </tr>
      <tr>
        <th>Client</th>
        <td>
          {% if invoice.client.firstname is defined %}
            {{ invoice.client.firstname }} {{ invoice.client.lastname }}
          {% endif %}
        </td>
      </tr>
      <tr>
        <th>Contact</th>
        <td>
          {% if invoice.contact.name is defined %}
            {{ invoice.contact.name }} ({{ invoice.contact.email }})
          {% endif %}
        </td>
      </tr>
      <tr>
        <th>Total</th>
        <td>{{ invoice.total|readnb('€') }}</td>
      </tr>
      <tr>
        <th>Lignes de facture</th>
        <td>
          <table class="w-full text-sm text-left rtl:text-right text-gray-600 dark:text-gray-300">
            <twig:Table:Head columns="Quantité, Produit, Prix TTC, Total" />
            <tbody class="h-full">
              {% for invoiceLine in invoice.invoiceLines %}
                <twig:Table:Row>
                  <twig:Table:Data>{{ invoiceLine.quantity|readnb }}</twig:Table:Data>
                  <twig:Table:Data>{{ invoiceLine.product.name }}</twig:Table:Data>
                  <twig:Table:Data>{{ invoiceLine.product.priceWithTax|readnb('€') }}</twig:Table:Data>
                  <twig:Table:Data>{{ invoiceLine.total|readnb('€') }}</twig:Table:Data>
                </twig:Table:Row>
              {% else %}
                <twig:Table:Row>
                  <twig:Table:Data colspan="99">Aucune ligne de facture enregistrée</twig:Table:Data>
                </twig:Table:Row>
              {% endfor %}
            </tbody>
          </table>
        </td>
      </tr>
      {% if invoice.estimate is defined %}
        <tr>
          <th>Devis</th>
          <td>
            <a class="text-blue-500 dark:text-blue-300 underline" href="{{ path('app_estimate_show', { id: invoice.estimate.id }) }}">Devis n°{{ invoice.estimate.id }}</a>
          </td>
        </tr>
      {% endif %}
    </tbody>
  </table>

  <twig:Button class="bg-lime-500 dark:bg-lime-600" href="{{ path('app_invoice_index') }}" text="Retour à la liste" icon="rotate-left" />

  <twig:Button class="bg-lime-500 dark:bg-lime-600" href="{{ path('app_invoice_edit', { id: invoice.id }) }}" text="Modifier" icon="pencil" />

  {{ include('invoice/_delete_form.html.twig') }}
{% endblock %}
