{% extends 'base.html.twig' %}

{% block title %}
  Invoice
{% endblock %}

{% block body %}
  <h1>Invoice</h1>

  <table class="table">
    <tbody>
      <tr>
        <th>Id</th>
        <td>{{ invoice.id }}</td>
      </tr>
      <tr>
        <th>Complètement payée</th>
        <td>{{ invoice.paid ? 'Yes' : 'No' }}</td>
      </tr>
      <tr>
        <th>Montant payé</th>
        <td>{{ invoice.paidAmount|readnb("€") }}</td>
      </tr>
      <tr>
        <th>Client</th>
        <td>
          {% if invoice.client.firstname is defined %}
            {{ invoice.client.firstname }} {{ invoice.client.lastname }}
          {% endif %}
        </td>
      </tr>
      <tr>
        <th>Contact</th>
        <td>
          {% if invoice.contact.name is defined %}
            {{ invoice.contact.name }} ({{ invoice.contact.email }})
          {% endif %}
        </td>
      </tr>
      <tr>
        <th>Total</th>
        <td>{{ invoice.total|readnb("€") }}</td>
      </tr>
      <tr>
        <th>Lignes de facture</th>
        <td>
          {% if invoice.invoiceLines is empty %}
            <p>Aucune ligne de facture</p>
          {% else %}
            <table>
              <thead>
                <tr>
                  <th>Quantité</th>
                  <th>Produit</th>
                  <th>Prix unitaire</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                {% for invoiceLine in invoice.invoiceLines %}
                  <tr>
                    <td>{{ invoiceLine.quantity|readnb }}</td>
                    <td>{{ invoiceLine.product.name }}</td>
                    <td>{{ invoiceLine.product.priceWithTax|readnb("€") }}</td>
                    <td>{{ invoiceLine.total|readnb("€") }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% endif %}
        </td>
      </tr>
    </tbody>
  </table>

  <a href="{{ path('app_invoice_index') }}">back to list</a>

  <a href="{{ path('app_invoice_edit', { id: invoice.id }) }}">edit</a>

  {{ include('invoice/_delete_form.html.twig') }}
{% endblock %}
