{% extends 'base-mini.html.twig' %}

{% block title %}
	Connectez-vous !
{% endblock %}

{% block body %}
	<section class="flex flex-col items-center w-full dark:bg-slate-700 dark:text-white leading-normal px-2">
		<h1 class="text-4xl font-normal mt-12">Connexion</h1>
		<form method="post" class="flex flex-col py-16 w-auto lg:w-full lg:px-[25%]">
			<label for="inputEmail" class="flex flex-col mb-8">
				<span class="mb-1 text-xl">Adresse e-mail</span>
				<input class="form-control py-1 px-2 h-10 rounded-lg dark:bg-slate-500 dark:placeholder:text-slate-300 w-full" type="email" placeholder="example@email.com" value="{{ last_username }}" name="email" id="inputEmail" autocomplete="email" required autofocus>
			</label>
			<label for="inputPassword" class="flex flex-col mb-4">
				<span class="mb-1 text-xl">Mot de passe</span>
				<input class="form-control py-1 px-2 h-10 rounded-lg dark:bg-slate-500 dark:placeholder:text-slate-300 w-full" type="password" placeholder="Mot de passe" name="password" id="inputPassword" autocomplete="current-password" required>
			</label>
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			{% if error %}
				<div class="text-red-600 dark:text-red-400 text-base">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
				<small class="my-4 text-base">
					Vous êtes connecté en tant que
					<span class="text-gray-900 dark:text-gray-200 italic bg-slate-200 dark:bg-slate-500 px-1 rounded">
						{{ app.user.userIdentifier }}
					</span>
					<br>
					<a href="{{ path('app_logout') }}" class="text-blue-500 dark:text-blue-400 underline">Déconnexion</a>
				</small>
			{% endif %}

			<div class="flex self-end gap-6">
				<a href="{{ path('app_register') }}" class="my-4 bg-sky-500 px-4 py-2 rounded-lg w-fit text-white text-xl self-center">
					Créer un compte
				</a>
				<button class="my-4 bg-blue-500 px-4 py-2 rounded-lg w-fit text-white text-xl" type="submit">
					Se connecter
				</button>
			</div>
		</form>
	</section>
{% endblock %}
