{% extends 'base.html.twig' %}

{% block title %}InvoiceLine{% endblock %}

{% block body %}
    <h1>InvoiceLine</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ invoice_line.id }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ invoice_line.quantity }}</td>
            </tr>
        </tbody>
    </table>

<twig:Button class="bg-lime-500 dark:bg-lime-600" href="{{ path('app_invoice_line_index') }}" text="Retour à la liste" icon="rotate-left" />

    <twig:Button class="bg-lime-500 dark:bg-lime-600" href="{{ path('app_invoice_line_edit', {'id': invoice_line.id}) }}" text="Modifier" icon="pencil" />

    {{ include('invoice_line/_delete_form.html.twig') }}
{% endblock %}
