{% extends 'base.html.twig' %}

{% block title %}
  Liste des clients
{% endblock %}

{% block body %}
  <div class="relative overflow-x-auto shadow-md scrollbar-thin scrollbar-track-slate-50 dark:scrollbar-track-slate-300 scrollbar-thumb-slate-300 dark:scrollbar-thumb-slate-500 scrollbar-track-rounded-full scrollbar-thumb-rounded-full">
    <table class="w-full text-sm text-left rtl:text-right text-gray-600 dark:text-gray-300">
      <caption class="py-5 px-3 text-xl font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
        Liste des clients<twig:Button href="{{ path('app_client_new') }}" text="Créer un nouveau client" icon="plus" class="text-xs mt-4" />
      </caption>
      <twig:Table:Head columns="ID, Prénom, Nom de famille, Email, Addrese, Téléphone, Créé le, Modifié le, Actions" />
      <tbody class="h-full">
        {% for client in clients %}
          <twig:Table:Row>
            <twig:Table:Data important="true">
              <a class="text-blue-500 dark:text-blue-300 underline" href="{{ path('app_client_show', { id: client.id }) }}">Client n°{{ client.id }}</a>
            </twig:Table:Data>
            <twig:Table:Data>{{ client.firstname }}</twig:Table:Data>
            <twig:Table:Data>{{ client.lastname }}</twig:Table:Data>
            <twig:Table:Data>{{ client.email }}</twig:Table:Data>
            <twig:Table:Data>{{ client.address }}</twig:Table:Data>
            <twig:Table:Data>{{ client.phone }}</twig:Table:Data>
            <twig:Table:Data>{{ client.createdAt is defined ? client.createdAt|date('Y-m-d H:i:s') : '' }}</twig:Table:Data>
            <twig:Table:Data>{{ client.updatedAt is defined ? client.updatedAt|date('Y-m-d H:i:s') : '' }}</twig:Table:Data>
            <twig:Table:Data>
              <twig:Button class="bg-lime-500 dark:bg-lime-600" href="{{ path('app_client_edit', { id: client.id }) }}" text="Modifier" icon="pencil" />
            </twig:Table:Data>
          </twig:Table:Row>
        {% else %}
          <twig:Table:Row>
            <twig:Table:Data colspan="99">Aucune client enregistrée</twig:Table:Data>
          </twig:Table:Row>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
