{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}
    <div class="relative overflow-x-auto shadow-md scrollbar-thin scrollbar-track-slate-50 dark:scrollbar-track-slate-300 scrollbar-thumb-slate-300 dark:scrollbar-thumb-slate-500 scrollbar-track-rounded-full scrollbar-thumb-rounded-full">
		<table class="w-full text-sm text-left rtl:text-right text-gray-600 dark:text-gray-300">
			<caption class="py-5 px-3 text-xl font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
				{{ client.firstname }}
                <twig:Button class="text-xs mt-4" href="{{ path('app_client_edit', {'id': client.id}) }}" text="Modifier" />
			</caption>
			<tbody>
				<twig:Table:Row>
					<twig:Table:Header>Firstname</twig:Table:Header>
					<twig:Table:Data>{{ client.firstname }}</twig:Table:Data>
				</twig:Table:Row>
				<twig:Table:Row>
					<twig:Table:Header>Lastname</twig:Table:Header>
					<twig:Table:Data>{{ client.lastname }}</twig:Table:Data>
				</twig:Table:Row>
				<twig:Table:Row>
					<twig:Table:Header>Email</twig:Table:Header>
					<twig:Table:Data>{{ client.email }}</twig:Table:Data>
				</twig:Table:Row>
				<twig:Table:Row>
					<twig:Table:Header>Address</twig:Table:Header>
					<twig:Table:Data>{{ client.address }}</twig:Table:Data>
				</twig:Table:Row>
				<twig:Table:Row>
					<twig:Table:Header>Phone</twig:Table:Header>
					<twig:Table:Data>{{ client.phone }}</twig:Table:Data>
				</twig:Table:Row>
				<twig:Table:Row>
					<twig:Table:Header>CreatedAt</twig:Table:Header>
					<twig:Table:Data>{{ client.createdAt ? client.createdAt|date('Y-m-d H:i:s') : '' }}</twig:Table:Data>
				</twig:Table:Row>
				<twig:Table:Row>
					<twig:Table:Header>UpdatedAt</twig:Table:Header>
					<twig:Table:Data>{{ client.updatedAt ? client.updatedAt|date('Y-m-d H:i:s') : '' }}</twig:Table:Data>
				</twig:Table:Row>
			</tbody>
		</table>
	</div>

    <a href="{{ path('app_client_index') }}">back to list</a>

    <a href="{{ path('app_client_edit', {'id': client.id}) }}">edit</a>

    {{ include('client/_delete_form.html.twig') }}
{% endblock %}
