{% extends 'base.html.twig' %}

{% block title %}Contact index{% endblock %}

{% block body %}
    <h1>Contact index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>Email</th>
                <th>City</th>
                <th>ZipCode</th>
                <th>Country</th>
                <th>Phone</th>
                <th>CreatedBy</th>
                <th>UpdatedBy</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.name }}</td>
                <td>{{ contact.address }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.city }}</td>
                <td>{{ contact.zipCode }}</td>
                <td>{{ contact.country }}</td>
                <td>{{ contact.phone }}</td>
                <td>{{ contact.createdBy }}</td>
                <td>{{ contact.updatedBy }}</td>
                <td>{{ contact.createdAt ? contact.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ contact.updatedAt ? contact.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    
                    <twig:Button class="bg-lime-500 dark:bg-lime-600" href="{{ path('app_contact_edit', {'id': contact.id}) }}" text="Modifier" icon="pencil" />
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">Aucun résultat trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_contact_new') }}">Create new</a>
{% endblock %}
