{% extends 'base.html.twig' %}

{% block title %}Contact index{% endblock %}

{% block body %}
    <div class="relative overflow-x-auto shadow-md scrollbar-thin scrollbar-track-slate-50 dark:scrollbar-track-slate-300 scrollbar-thumb-slate-300 dark:scrollbar-thumb-slate-500 scrollbar-track-rounded-full scrollbar-thumb-rounded-full">
		<table class="w-full text-sm text-left rtl:text-right text-gray-600 dark:text-gray-300">
			<caption class="py-5 px-3 text-xl font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
				Liste des clients
				<twig:Button href="{{ path('app_contact_new') }}" text="Créer un nouveau contacte" icon="plus" class="text-xs mt-4"/>
			</caption>
			<twig:Table:Head columns="Nom, Adresse, Email, Ville, Code, Pays, Téléphone, Créer le, Modifier le"/>
			<tbody class="h-full">
				{% for contact in contacts %}
					<twig:Table:Row>
						<twig:Table:Data important="{{true}}">
							<a class="text-blue-500 dark:text-blue-300 underline" href="{{ path('app_contact_show', {'id': contact.id}) }}">{{ contact.name }}</a>
						</twig:Table:Data>
						<twig:Table:Data>{{ contact.address }}</twig:Table:Data>
						<twig:Table:Data>{{ contact.email }}</twig:Table:Data>
						<twig:Table:Data>{{ contact.city }}</twig:Table:Data>
						<twig:Table:Data>{{ contact.zipCode }}</twig:Table:Data>
						<twig:Table:Data>{{ contact.country }}</twig:Table:Data>
						<twig:Table:Data>{{ contact.phone }}</twig:Table:Data>
						<twig:Table:Data>{{ contact.createdAt ? contact.createdAt|date('Y-m-d H:i:s') : '' }}</twig:Table:Data>
						<twig:Table:Data>{{ contact.updatedAt ? contact.updatedAt|date('Y-m-d H:i:s') : '' }}</twig:Table:Data>
						<twig:Table:Data>
							<twig:Button class="bg-lime-500 dark:bg-lime-600" href="{{ path('app_client_edit', {'id': contact.id}) }}" text="Modifier" icon="pencil"/>
						</twig:Table:Data>
					</twig:Table:Row>
				{% else %}
					<twig:Table:Row>
						<twig:Table:Data colspan="99">Aucun client enregistré</twig:Table:Data>
					</twig:Table:Row>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
