{% extends 'base.html.twig' %}

{% block title %}
  Société n°{{ company.id }}
{% endblock %}

{% block body %}
  <h1 class="font-medium text-gray-900 dark:text-gray-400 whitespace-nowrap text-2xl">Société n°{{ company.id }}</h1>

  <twig:Table:Table>
    <tbody>
      <twig:Table:Row>
        <twig:Table:Header class="text-center text-xs text-gray-700 uppercase whitespace-nowrap bg-gray-50 dark:bg-gray-700 dark:text-gray-400 {{ class|default('') }}">Id</twig:Table:Header>
        <twig:Table:Data>{{ company.id }}</twig:Table:Data>
      </twig:Table:Row>
      <twig:Table:Row>
        <twig:Table:Header class="text-center text-xs text-gray-700 uppercase whitespace-nowrap bg-gray-50 dark:bg-gray-700 dark:text-gray-400 {{ class|default('') }}">Name</twig:Table:Header>
        <twig:Table:Data>{{ company.name }}</twig:Table:Data>
      </twig:Table:Row>
      <twig:Table:Row>
        <twig:Table:Header class="text-center text-xs text-gray-700 uppercase whitespace-nowrap bg-gray-50 dark:bg-gray-700 dark:text-gray-400 {{ class|default('') }}">Description</twig:Table:Header>
        <twig:Table:Data>{{ company.description }}</twig:Table:Data>
      </twig:Table:Row>
      <twig:Table:Row>
        <twig:Table:Header class="text-center text-xs text-gray-700 uppercase whitespace-nowrap bg-gray-50 dark:bg-gray-700 dark:text-gray-400 {{ class|default('') }}">Siret</twig:Table:Header>
        <twig:Table:Data>{{ company.siret }}</twig:Table:Data>
      </twig:Table:Row>
      <twig:Table:Row>
        <twig:Table:Header class="text-center text-xs text-gray-700 uppercase whitespace-nowrap bg-gray-50 dark:bg-gray-700 dark:text-gray-400 {{ class|default('') }}">Premium</twig:Table:Header>
        <twig:Table:Data>{{ company.premium }}</twig:Table:Data>
      </twig:Table:Row>
    </tbody>
  </twig:Table:Table>

  <twig:Button class="bg-lime-500 dark:bg-lime-600" href="{{ path('app_company_index') }}" text="Retour à la liste" icon="rotate-left" />

  <twig:Button class="bg-lime-500 dark:bg-lime-600" href="{{ path('app_company_edit', { id: company.id }) }}" text="Modifier" icon="pencil" />

  {{ include('company/_delete_form.html.twig') }}
{% endblock %}
