{% extends 'base.html.twig' %}

{% block title %}
  Devis n°{{ estimate.id }}
{% endblock %}

{% block body %}
  <h1 class="font-medium text-gray-900 dark:text-gray-400 whitespace-nowrap text-2xl">Devis n°{{ estimate.id }}</h1>

  <twig:Table:Table>
    <tbody>
      <twig:Table:Row>
        <twig:Table:Header class="text-center text-xs text-gray-700 uppercase whitespace-nowrap bg-gray-50 dark:bg-gray-700 dark:text-gray-400 {{ class|default('') }}">Id</twig:Table:Header>
        <twig:Table:Data>{{ estimate.id }}</twig:Table:Data>
      </twig:Table:Row>
      <twig:Table:Row>
        <twig:Table:Header class="text-center text-xs text-gray-700 uppercase whitespace-nowrap bg-gray-50 dark:bg-gray-700 dark:text-gray-400 {{ class|default('') }}">Signé</twig:Table:Header>
        <twig:Table:Data>{{ estimate.signed ? 'Oui' : 'Non' }}</twig:Table:Data>
      </twig:Table:Row>
      <twig:Table:Row>
        <twig:Table:Header class="text-center text-xs text-gray-700 uppercase whitespace-nowrap bg-gray-50 dark:bg-gray-700 dark:text-gray-400 {{ class|default('') }}">Statut</twig:Table:Header>
        <twig:Table:Data>
          {% if estimate.status == 1 %}
            <span class="px-2 py-1 text-xs font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-500 dark:text-green-100">Validé</span>
          {% elseif estimate.status == 0 %}
            <span class="px-2 py-1 text-xs font-semibold leading-tight text-yellow-700 bg-yellow-100 rounded-full dark:bg-yellow-500 dark:text-yellow-100">En attente</span>
          {% elseif estimate.status == 9 %}
            <span class="px-2 py-1 text-xs font-semibold leading-tight text-red-700 bg-red-100 rounded-full dark:bg-red-500 dark:text-red-100">Refusé</span>
          {% endif %}
        </twig:Table:Data>
      </twig:Table:Row>
      <twig:Table:Row>
        <twig:Table:Header class="text-center text-xs text-gray-700 uppercase whitespace-nowrap bg-gray-50 dark:bg-gray-700 dark:text-gray-400 {{ class|default('') }}">Client</twig:Table:Header>
        <twig:Table:Data>
          {% if estimate.client.firstname is defined %}
            {{ estimate.client.firstname }} {{ estimate.client.lastname }}
          {% endif %}
        </twig:Table:Data>
      </twig:Table:Row>
      <twig:Table:Row>
        <twig:Table:Header class="text-center text-xs text-gray-700 uppercase whitespace-nowrap bg-gray-50 dark:bg-gray-700 dark:text-gray-400 {{ class|default('') }}">Contact</twig:Table:Header>
        <twig:Table:Data>
          {% if estimate.contact.name is defined %}
            {{ estimate.contact.name }} ({{ estimate.contact.email }})
          {% endif %}
        </twig:Table:Data>
      </twig:Table:Row>
      <twig:Table:Row>
        <twig:Table:Header class="text-center text-xs text-gray-700 uppercase whitespace-nowrap bg-gray-50 dark:bg-gray-700 dark:text-gray-400 {{ class|default('') }}">Total</twig:Table:Header>
        <twig:Table:Data>{{ estimate.total|readnb('€') }}</twig:Table:Data>
      </twig:Table:Row>
      <twig:Table:Row>
        <twig:Table:Header class="text-center text-xs text-gray-700 uppercase whitespace-nowrap bg-gray-50 dark:bg-gray-700 dark:text-gray-400 {{ class|default('') }}">Lignes de devis</twig:Table:Header>
        <twig:Table:Data>
          <table class="w-full text-sm text-left rtl:text-right text-gray-600 dark:text-gray-300">
            <twig:Table:Head columns="Quantité, Produit, Prix TTC, Total" />
            <tbody class="h-full">
              {% for estimateLine in estimate.estimateLines %}
                <twig:Table:Row>
                  <twig:Table:Data>{{ estimateLine.quantity|readnb }}</twig:Table:Data>
                  <twig:Table:Data>{{ estimateLine.product.name }}</twig:Table:Data>
                  <twig:Table:Data>{{ estimateLine.product.priceWithTax|readnb('€') }}</twig:Table:Data>
                  <twig:Table:Data>{{ estimateLine.total|readnb('€') }}</twig:Table:Data>
                </twig:Table:Row>
              {% else %}
                <twig:Table:Row>
                  <twig:Table:Data colspan="99">Aucune ligne de devis enregistrée</twig:Table:Data>
                </twig:Table:Row>
              {% endfor %}
            </tbody>
          </table>
        </twig:Table:Data>
      </twig:Table:Row>
    </tbody>
  </twig:Table:Table>

  <twig:Button class="bg-lime-500 dark:bg-lime-600" href="{{ path('app_invoice_index') }}" text="Retour à la liste" icon="rotate-left" />

  <twig:Button class="bg-lime-500 dark:bg-lime-600" href="{{ path('app_invoice_edit', { id: estimate.id }) }}" text="Modifier" icon="pencil" />

  {{ include('estimate/_delete_form.html.twig') }}
{% endblock %}
