{% extends 'base.html.twig' %}

{% block title %}
  Estimate
{% endblock %}

{% block body %}
  <h1>Estimate</h1>

  <table class="table">
    <tbody>
      <tr>
        <th>Id</th>
        <td>Devis n°{{ estimate.id }}</td>
      </tr>
      <tr>
        <th>Signée</th>
        <td>{{ estimate.signed ? 'Oui' : 'Non' }}</td>
      </tr>
      <tr>
        <th>Client</th>
        <td>
          {% if estimate.client.firstname is defined %}
            {{ estimate.client.firstname }} {{ estimate.client.lastname }}
          {% endif %}
        </td>
      </tr>
      <tr>
        <th>Contact</th>
        <td>
          {% if estimate.contact.name is defined %}
            {{ estimate.contact.name }} ({{ estimate.contact.email }})
          {% endif %}
        </td>
      </tr>
      <tr>
        <th>Total</th>
        <td>{{ estimate.total|readnb('€') }}</td>
      </tr>
      <tr>
        <th>Statut</th>
        <td>
          {% if estimate.status == 1 %}
            <span class="px-2 py-1 text-xs font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-500 dark:text-green-100">Validé</span>
          {% elseif estimate.status == 0 %}
            <span class="px-2 py-1 text-xs font-semibold leading-tight text-yellow-700 bg-yellow-100 rounded-full dark:bg-yellow-500 dark:text-yellow-100">En attente</span>
          {% elseif condition %}
            <span class="px-2 py-1 text-xs font-semibold leading-tight text-red-700 bg-red-100 rounded-full dark:bg-red-500 dark:text-red-100">Refusé</span>
          {% endif %}
        </td>
      </tr>
      <tr>
        <th>Lignes de devis</th>
        <td>
          <table class="w-full text-sm text-left rtl:text-right text-gray-600 dark:text-gray-300">
            <twig:Table:Head columns="Quantité, Produit, Prix TTC, Total" />
            <tbody class="h-full">
              {% for estimateLine in estimate.estimateLines %}
                <twig:Table:Row>
                  <twig:Table:Data>{{ estimateLine.quantity|readnb }}</twig:Table:Data>
                  <twig:Table:Data>{{ estimateLine.product.name }}</twig:Table:Data>
                  <twig:Table:Data>{{ estimateLine.product.priceWithTax|readnb('€') }}</twig:Table:Data>
                  <twig:Table:Data>{{ estimateLine.total|readnb('€') }}</twig:Table:Data>
                </twig:Table:Row>
              {% else %}
                <twig:Table:Row>
                  <twig:Table:Data colspan="99">Aucune ligne de devis enregistrée</twig:Table:Data>
                </twig:Table:Row>
              {% endfor %}
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <th>Factures liées</th>
        <td>
          <table>
            <twig:Table:Head columns="ID, Complètement payée, Montant payé" />
            <tbody>
              {% for invoice in estimate.invoices %}
                <twig:Table:Row>
                  <twig:Table:Data important="true">
                    <a class="text-blue-500 dark:text-blue-300 underline" href="{{ path('app_invoice_show', { id: invoice.id }) }}">Facture n°{{ invoice.id }}</a>
                  </twig:Table:Data>
                  <twig:Table:Data>{{ invoice.paid ? 'Oui' : 'Non' }}</twig:Table:Data>
                  <twig:Table:Data class="whitespace-nowrap">{{ invoice.paidAmount|readnb('€') }}</twig:Table:Data>
                </twig:Table:Row>
              {% else %}
                <twig:Table:Row>
                  <twig:Table:Data colspan="99">Aucune facture enregistrée</twig:Table:Data>
                </twig:Table:Row>
              {% endfor %}
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>

  {% if estimate.status == 1 and estimate.signed %}
    <twig:Button class="bg-yellow-500 dark:bg-yellow-600" href="{{ path('app_estimate_convert', { id: estimate.id }) }}" text="Convertir en facture" icon="right-left" />
  {% endif %}

  <twig:Button class="bg-lime-500 dark:bg-lime-600" href="{{ path('app_estimate_index') }}" text="Retour à la liste" icon="rotate-left" />

  <twig:Button class="bg-lime-500 dark:bg-lime-600" href="{{ path('app_estimate_edit', { id: estimate.id }) }}" text="Modifier" icon="pencil" />

  {{ include('estimate/_delete_form.html.twig') }}
{% endblock %}
