{% extends 'base.html.twig' %}

{% block title %}
  Utilisateur n°{{ user.id }}
{% endblock %}

{% block body %}
  <h1 class="font-medium text-gray-900 dark:text-gray-400 whitespace-nowrap text-2xl">Utilisateur n°{{ user.id }}</h1>

  <twig:Table:Table>
    <tbody>
      <twig:Table:Row>
        <twig:Table:Header class="text-center text-xs text-gray-700 uppercase whitespace-nowrap bg-gray-50 dark:bg-gray-700 dark:text-gray-400 {{ class|default('') }}">Id</twig:Table:Header>
        <twig:Table:Data>{{ user.id }}</twig:Table:Data>
      </twig:Table:Row>
      <twig:Table:Row>
        <twig:Table:Header class="text-center text-xs text-gray-700 uppercase whitespace-nowrap bg-gray-50 dark:bg-gray-700 dark:text-gray-400 {{ class|default('') }}">Email</twig:Table:Header>
        <twig:Table:Data>{{ user.email }}</twig:Table:Data>
      </twig:Table:Row>
      <twig:Table:Row>
        <twig:Table:Header class="text-center text-xs text-gray-700 uppercase whitespace-nowrap bg-gray-50 dark:bg-gray-700 dark:text-gray-400 {{ class|default('') }}">Roles</twig:Table:Header>
        <twig:Table:Data>{{ user.roles ? user.roles|json_encode:'' }}</twig:Table:Data>
      </twig:Table:Row>
      <twig:Table:Row>
        <twig:Table:Header class="text-center text-xs text-gray-700 uppercase whitespace-nowrap bg-gray-50 dark:bg-gray-700 dark:text-gray-400 {{ class|default('') }}">Vérifié</twig:Table:Header>
        <twig:Table:Data>{{ user.isVerified ? 'Oui' : 'Non' }}</twig:Table:Data>
      </twig:Table:Row>
    </tbody>
  </twig:Table:Table>

  <twig:Button class="bg-lime-500 dark:bg-lime-600" href="{{ path('app_company_index') }}" text="Retour à la liste" icon="rotate-left" />

  {% if is_granted('ROLE_ADMIN') %}
    <twig:Button class="bg-lime-500 dark:bg-lime-600" href="{{ path('app_company_edit', { id: user.id }) }}" text="Modifier" icon="pencil" />

    {{ include('user/_delete_form.html.twig') }}
  {% endif %}
{% endblock %}
